
/* Global style */

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:  #bbc0c4;
    font-weight: bold;
    font-size: 16px;
}

/* Element styles */

p{
    margin: 0px;
    padding: 2px;
}

body{
    background-image: url("grey_wash_wall.png");
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

/* ID styles */

#footer{
    /*background: #343a40;*/
    background-image: url("dark-honeycomb.png");
    height: 45px;
    width: 100%;
    margin-top: 10px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

#footerTopBar{
    background: #343a40;
    width: 100%;
    height: 10px;
    position: relative;
    top: 0px;
    left: 0px;
}

#footerContent{
    height: 30px;
    margin-top: 30px;
    margin-left: auto;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
}

#myName{
    color: #ffc107;
    font-size: 32px;
    font-weight: bolder;
    margin-left: 10vw;
}

#submit-btn{
    border: 2px solid #343a40;
    font-weight: bold;
    margin-left: 2em;
    padding: 5px 5em 5px 5em;
    font-size: 18px;
    margin-top: 5px;
}

#submit-btn:hover{
    border: 2px solid #343a40;
    color: #343a40;
    background-color: #ffc107;
}

/* Class styles */

.defaultContentContainer{
    margin: 20px auto 20px auto;
    padding: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border: 5px solid #343a40;
}

.inputFields{
    color: #343a40;
    border: 2px solid #343a40;
    width: 75%;
    margin-left: 2em;
    margin-top: 5px;
    font-weight: normal;
    padding: 5px;
}

.navbar{
    background-image: url("prism.png");
    padding: 2px;
}

.email-bar{
    width: 100%;
    background-color: #ffc107; /*bootstrap warning*/
}

.email-text{
    margin-left: 10vw;
    color: #343a40; /*bootstrap dark*/
}

.skills{
    margin-right: 4vw;
    color: #343a40;
    float: right;
}

.pageTitle{
    font-size: 32px;
    font-weight: bolder;
}

.profileLink{
    color: #ffc107;
    font-size: 18px;
    margin-right: 5vw;
    height: 48px;
    font-weight: 400;
    background: none;
    border-color: transparent;
}

.profileLink:hover{
    color: #ffc107;
}

.mainDiv{
    margin: auto;
    width: 80%;
}

.projectLink{
    margin: 20px auto 20px auto;
    padding: 20px;
    width: 100%;
    /*background-image: url("dark-honeycomb.png");*/
    background-color: rgba(0, 0, 0, 0.4);
    border: 5px solid #343a40; /*bootstrap dark*/
}

.dark-bg{
    margin: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
}

.projectLink:hover{
    border-color: #ffc107; /*bootstrap warning*/
    color: #ffc107;
}

.projectTitle{
    color: #6c757d; /*bootstrap secondary*/
    padding: 0.5em;
    font-size: 24px;
    font-weight: bolder;
    background-image: url("dark-honeycomb.png");
}

.projectDate{
    color:  #bbc0c4;
    font-weight: normal;
}

.repoLink{
    color:  #bbc0c4;
    font-weight: normal;
}

.repoLink:hover{
    color: #ffc107;
}

.projectText{
    margin-left: 2em;
    font-size: 18px;
    margin-top: 5px;
}

.aboutText{
    color:  #bbc0c4;
    margin: 5px;
    width: 80%;
    margin: auto;
}

.aboutTitle{
    font-size: 24px;
    font-weight: bold;
    color:  #bbc0c4;
    margin: 5px;
    width: 80%;
    margin: auto;
}

.goLinkText{
    color: #6c757d;
    font-weight: bold;
    font-size: 18px;
}

.goLinkButton{
    margin: 0px;
    font-size: 18px;
    background: none;
    color: #6c757d;
    font-weight: bolder;
    border-color: transparent;
    float: right;
}

.dark-bg{
    margin: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Media Query */

@media only screen and (max-width: 900px) {
    .email-text{
        display: block;
    }
    .skills{
        display: block;
        margin-left: 10vw;
    }
  }
